* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.pt-md-19 {
    color: #ffffff;
}

.c19235 {
    color: rgb(18, 18, 18);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: medium;
    word-spacing: 0px;
    background-color: rgb(255, 255, 255);
    width: 0px;
}

.c21523 {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.c21586 {
    color: rgb(18, 18, 18);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: medium;
    word-spacing: 0px;
    background-color: rgb(255, 255, 255);
}

.c22308 {
    padding: 10px;
}

.c22365 {
    color: rgb(18, 18, 18);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: medium;
    word-spacing: 0px;
    background-color: rgb(255, 255, 255);
}

.c22717 {
    color: rgb(18, 18, 18);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: medium;
    word-spacing: 0px;
    background-color: rgb(255, 255, 255);
}

.c22956 {
    color: rgb(18, 18, 18);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: medium;
    word-spacing: 0px;
    background-color: rgb(255, 255, 255);
}

.c23197 {
    color: rgb(18, 18, 18);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: medium;
    word-spacing: 0px;
    background-color: rgb(255, 255, 255);
}

.c24058 {
    float: none;
    position: relative;
    color: #af2d2d;
}

.c25249 {
    color: rgb(18, 18, 18);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: medium;
    word-spacing: 0px;
    background-color: rgb(255, 255, 255);
}

.c25329 {
    color: rgb(18, 18, 18);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: medium;
    word-spacing: 0px;
    background-color: rgb(255, 255, 255);
}